/* Start Overlap Section */
.overlap-section{
    margin-top: -85px;
    margin-bottom: 60px;
    overflow: hidden;
    .unit-1{
        @include size(100%);
        position: relative;
        overflow: hidden;
        z-index: 55;
        &::after{
            @extend %overlay;
            @include prefixer(background, linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%));
        }
        img{
            width: 100%;
            @include transition(all .3s ease);
        }
        .unit-1-desc{
            position: relative;
            h3{
                position: absolute;
                bottom: 10px;
                font-size: 1.2rem;
                font-weight: 400;
                color: #fff;
                display: block;
                width: 100%;
                z-index: 2;
                @include transition(all .3s ease);
            }
        }
        &:hover{
            cursor: pointer;
            img{
                @include prefixer(transform, scale(1.1))
            }
            h3{
                bottom: 30px;
            }
        }
    }
    @media (max-width: 767px) {
        .col-lg-4{
            margin-bottom: 20px;
        }
    }
    @media (min-width: 768px) {
        .col-lg-4:last-of-type{
            margin-top: 20px;
        }
    }
    @media (min-width: 992px) {
        .col-lg-4:last-of-type{
            margin-top: 0px;
        }
    }
}
/* End Overlap Section */


/* start Traveling Article Section */
.traveling-article{
    padding: 5rem 0;
    background-color: #fff;
    .article-content{
        position: relative;
        .icon-content{
            position: absolute;
            left: 10px;
            span{
                font-size: 50px;
                color: $mainColor;
            }
        }
        .desc{
            margin: 10px 10px 0 70px;
            font-family: 'Poppins', sans-serif;
            h4{
                color: rgba( #000000, 0.8);
            }
            p{
                line-height: 1.5;
                font-size: 16px;
                color: rgba( #000000, 0.7);
            }
            a{
                font-size: 16px;
                color: $mainColor;
                text-decoration: none;
            }
        }
    }
    @media (max-width: 767px) {
        padding: 0;
        .article-content{
            margin-bottom: 20px;
        }
    }
    @media (min-width: 768px) {
        padding: 2rem 0;
        .article-content{
            margin-bottom: 20px;
        }
    }
    @media (min-width: 992px) {
        padding: 5rem 0;
        .article-content{
            margin-bottom: 0px;
        }
    }
}
/* End Traveling Article Section */


/* Start Testimonials Section */
.testimonials-section{
    margin-top: 5rem;
    overflow: hidden;
    .carousel{
        .carousel-inner{
            .carousel-item{
                .overlap-left{
                    height: 100%;
                    background-color: #fff;
                    padding: 3rem;
                    font-size: 19px;
                    margin: 100px 0 0 -100px;
                    p{
                        font-family: 'Poppins', sans-serif;
                    }
                    p:last-of-type{
                        color: rgba( #000000, 0.7);
                        span{
                            font-style: italic;
                            font-size: 16px;
                        }
                        a{
                            color: $mainColor;
                        }
                    }
                }
            }
        }
        .carousel-controls{
            margin: 40px;
            display: flex;
            justify-content: center;
            a{
                color: #000;
                padding: 20px;
                font-size: 22px;
            }
        }
    }
    @media (max-width: 767px) {
        margin-top: 3rem;
        .carousel{
            .carousel-inner{
                .carousel-item{
                .overlap-left{
                    margin: 0;
                    }
                }
            }
            .carousel-controls{
                margin: 0;
            }
        }
    }
    @media (min-width: 768px) {
        margin-top: 3rem;
        .carousel{
            .carousel-inner{
                .carousel-item{
                .overlap-left{
                    margin: 0;
                    }
                }
            }
            .carousel-controls{
                margin: 20px;
            }
        }
    }
    @media (min-width: 991px) {
        margin-top: 5rem;
        .carousel{
            .carousel-inner{
                .carousel-item{
                .overlap-left{
                    margin: 100px 0 0 -100px;
                    }
                }
            }
            .carousel-controls{
                margin: 40px;
            }
        }
    }
}
/* End Testimonials Section */


/* Start Our Destinations Section */
.our-destinations{
    .country{
        margin-bottom: 20px;
        .country-inner{
            overflow: hidden;
            position: relative;
            width: 100%;
            &::after{
                @extend %overlay;
                @include prefixer(background, linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%));
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            img{
                @include transition(transform .3s ease-in-out);
            }
            .country-desc{
                position: absolute;
                bottom: 10px;
                z-index: 9;
                @include transition(all .3s ease-in-out);
                span{
                    color: $mainColor;
                    font-size: 18px;
                }
                h4{
                    color: #fff;
                    font-weight: 400;
                }
            }
            &:hover{
                img{
                    @include prefixer(transform, scale(1.1))
                }
                .country-desc{
                    bottom: 30px;
                    
                }
            }
        }
        
    }
    @media(min-width: 768px) {
        .country{
            .country-desc{
                h4{
                    font-size: 20px;
                }
            }
        }
    }
    @media(min-width: 992px) {
        .country{
            .country-desc{
                h4{
                    font-size: 25px;
                }
            }
        }
    }
}
/* End Our Destinations Section */


/* Start Video Section */
.video-section{
    margin: 60px 0;
    width: 100%;
    height: 600px;
    background-image: url(../img/hero_bg_2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after{
        @extend %overlay;
        background-color: rgba(0,0,0,0.3);
    }
    .video-inner{
        position: relative;
        z-index: 9;
        .video-icon{
            font-size: 25px;
            color: #fff;
            border: 1px solid #fff;
            @include size(75px);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px auto;
            cursor: pointer;
            @include transition(all 0.4s ease-in-out);
            &:hover{
                @include size(90px);
            }
            i{
                font-size: 35px;
            }
        }
        .video-heading{
            h2{
                font-family: 'Poppins', sans-serif;
                color: #fff;
                font-size: 40px;
                font-weight: 400;
            }
        }
    }
    .video-box{
        @extend %overlay;
        position: fixed;
        background-color: rgba( #000000, 0.7);
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        .video-box-inner{
            position: relative;
            .video{
                width: 900px;
                height: 500px;
                background-color: #000;
            }
            .close-btn{
                position: absolute;
                top: -41px;
                font-size: 28px;
                color: #fff;
                cursor: pointer;
                right: 8px;
            }
        }
    } 
}
/* End Video Section */


/* Start Services Section */
.services-section{
    margin: 30px 0 60px;
    .services-content{
        position: relative;
        margin-bottom: 30px;
        .icon-content{
            position: absolute;
            left: 10px;
            span{
                font-size: 50px;
                color: $mainColor;
            }
        }
        .desc{
            margin: 10px 10px 0 70px;
            font-family: 'Poppins', sans-serif;
            h4{
                color: rgba( #000000, 0.8);
            }
            p{
                line-height: 1.5;
                font-size: 16px;
                color: rgba( #000000, 0.7);
            }
            a{
                font-size: 16px;
                color: $mainColor;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
/* End Services Section */


/* Start Blog Section */
.blog-section{
    padding: 60px 0;
    border-bottom: 1px solid rgba( #000000, 0.1);
    .card-container{
        margin-bottom: 30px;
        img{
            width: 100%;
        }
        .card-desc{
            padding: 20px 0;
            text-align: left;
            a{
                font-size: 22px;
                font-family: 'Poppins', sans-serif;
                color: $mainColor;
                &:hover{
                    text-decoration: none;
                }
            }
            p{
                font-size: 17px;
                color: rgba(#000, 0.7);
            }
            .auther{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                p{
                    color: rgba(#000000,  0.4);
                    font-size: 15px;
                }
                span{
                    color: rgba($mainColor, 0.8);
                    font-size: 15px;
                }
            }
        }
    }
    .blog-btn{
        color: $mainColor;
        border: 2px solid $mainColor;
        padding: 15px 26px;
        display: inline-block;
        @include transition(all 0.4s ease-in-out);
        &:hover{
            text-decoration: none;
            background-color: $mainColor;
            color: #fff;
        }
    }
    @media (max-width: 767px) {
        padding: 0;
        .blog-btn{
            display: block;
            margin-bottom: 10px;
        }
    }
}
/* End Blog Section */


/* Start Book Section */
.book-section{
    overflow: hidden;
    padding: 60px 0;
    .book-btn{
        padding: 17px 50px;
        background-color: $mainColor;
        color: #fff;
        cursor: pointer;
        @include transition(all 0.4s ease-in-out);
        &:hover{
            text-decoration: none;
            background-color: transparent;
            color: $mainColor;
            border: 2px solid $mainColor;
        }
    }
}
/* End Book Section */

